{% extends "layout.html" %}
{% block content %}	
	<div class="container">
		<form method="POST" action="">
			{{ form.csrf_token }}
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Log In</legend>
				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}

					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}

					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>

			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			<div class="form-group mx-auto" style="width: 100px;">
				{{ form.submit(class="btn btn-success") }}
			</div>
		</form>
	</div>
{% endblock content %}